#remote-video {
    position: fixed;
    z-index: -100;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-size: cover;
}

@media screen and (orientation: landscape) {
    #remote-video {
        min-height: 100%;
    }
}

@media screen and (orientation: portrait) {
    #remote-video {
        min-width: 100%;
    }
}